
/* WEB APP COLOR SCHEMA */


:root {
  --color-1: #61ff7e;
  --color-2: #F0E9D390;
  --color-3: #8e8a8850;
  --color-4: #526760;
  --color-5: #95d07d;
  --color-6: #1C1018;
  --color-7: #eaeaea;
  --color-8: #5c8a99;
}


/* MAIN PAGES COMPONENTS */


#page-container{
  background-color: #ffffff;
  max-height: 100%;
}


/* MAIN TEXT STYLING */


h1 {
  font-size: 200px;
  font-weight: bold;
  font-family: 'Gabarito', sans-serif;
}
p1 {
  font-family: 'Gabarito', sans-serif;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0;
  font-family: 'Gabarito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2A1316;
}
#main-title {
  font-size: 72px;
  font-weight: bold;
  font-family: 'Gabarito', sans-serif;
}

#sub-title {
  font-size: 40px;
  font-family: 'Gabarito', sans-serif;
  margin: 12px;
}


/* NAVIGATION BAR STYLING */


.navbar-container {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-3);
  z-index: 100;
}

.navbar-left-align {
  margin-left: 5%;
  flex: start;
}

.navbar-right-align {
  margin-right: 5%;
  flex: end;
}

.navbar-logo {
  position: fixed;
  top: 17px;
  width: 100px;
}

.navbar-icon {
  height: 30px;
  margin: 10px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-button{
  background-color: transparent;
  border: none;
}

.navbar-sign-in-button {
  max-height: 40px;
  max-width: 100px;
  font-weight: bold;
  font-family: 'Gabarito', sans-serif;
  padding: 6px 17px;
  color: var(--color-4);
  border: 2px solid var(--color-4);
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}

.navbar-sign-in-button:hover {
  background-color: var(--color-3);
}

.navbar-sign-up-button {
  max-height: 40px;
  max-width: 100px;
  font-family: 'Gabarito', sans-serif;
  font-weight: bold;
  color: white;
  padding: 5px 13px;
  background-color: var(--color-4);
  border: 2px solid var(--color-4);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar-sign-up-button:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.navbar-menu-container {
  position: relative;
}

.navbar-menu-button {
  position: fixed;
  top: 5px;
  right: 70px;
}

.navbar-menu-button, .navbar-menu-text {
  background-color: transparent;
  border: none;
}

.navbar-menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 70px;
  right: 85px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 1px var(--color-7);
  border-radius: 5px;
  width: 270px;
  height: fit-content;
  padding: 10px;
}

.navbar-menu-text {
  font-family: 'Gabarito', sans-serif;
  font-weight: bold;
  font-size: large;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 5px;
}

.navbar-menu-text:hover {
  padding: 5px;
  width: 90%;
  border-radius: 20px;
  font-size: larger;
  background-color: var(--color-8);
  color: white;
  transition: 0.5s;
}


/* SIGN IN & SIGN UP */


#user-authentication-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--color-2);
  border: none;
}

#user-authentication-container-elements{
  margin: auto;
  padding: 5%;
  text-align: center;
  width: 100%;
  font-size: larger;
  font-family: 'Gabarito', sans-serif;
}

#user-authetication-title{
  font-size: 36px;
  font-weight: bold;
  font-family: 'Gabarito', sans-serif;
}

.user-authentication-text-form{
  font-family: 'Gabarito', sans-serif;
  font-size: 16px;
  border: 2px solid var(--color-3);
  background-color: #ffffff;
  color: #0F1A12;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.side-image-container {
  background-image: url(../images/lecture-hall.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}


/* LANDING PAGE STYLING */


#LandingPageDiv {
  background-color: var(--color-2);
  padding-block-end: 50%;
  padding-block-start: 5%;
}

#landing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 175px;
}

#landing-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
}

#landing-button-container button {
  margin: 0 15px;
  border-radius: 5px;
  padding: 16px 43px;
}

#landing-reserve-button {
  color: white;
  font-family: 'Gabarito', sans-serif;
  font-size: 18px;
  border: 2px solid var(--color-4);
  background-color: var(--color-4);
  transition: 0.3s;
}

#landing-reserve-button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#landing-university-button {
  color: var(--color-4);
  font-family: 'Gabarito', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid var(--color-4);
  background-color: transparent;
  transition: 0.3s;
}

#landing-university-button:hover {
  background-color: var(--color-4);
  color: white;
}


/* ORG HOME PAGE */


#OrgHomePageDiv {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#org-home-page-div {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#org-top-container {
  padding-top: 100px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, var(--color-5), var(--color-8));
  font-family: 'Gabarito', sans-serif;
  color: white
}

#org-bottom-container {
  padding-top: 20px;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.org-home-box {
  background-color: white;
  border-radius: 15px;
  height: fit-content;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.org-home-card-container {
  display: flex;
  height: fit-content;
}

.org-home-card {
  width: fit-content;
  height: fit-content;
  margin: 0 10px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-3);
  border-radius: 10px;
}

.org-home-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.org-home-card-img {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.org-home-card-arrow {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.org-home-card-prev {
  transform: rotate(180deg);
}



/* SEARCH(AKA ENTRY) FORM FOR ORG HOME PAGE*/


.entry-form {
  display: flex;
  color: black;
  width: 100%;
  justify-content: center;
  overflow: auto;
}

.entry-form-container {
  display: flex;
}

.entry-form-row {
  display: flex;
  align-items: center;
  margin: 10px;

}

entry-form-row-label {
  padding-left: 10px;
  padding-right: 10px;
}

.entry-form-input {
  width: 100%;
  display: flex;
  align-items:center;
}

input {
  color: black;
  font-family: 'Gabarito', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid var(--color-3);
  border-radius: 20px;
  background-color: transparent;
  padding: 5px;
  padding-left: 8px;
  transition: 0.3s;
}

input[type="submit"] {
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  border: 2px solid transparent;
  border-radius: 30px;
  color: black;
  background-color: var(--color-5);
}

input[type="submit"]:hover {
  color: black;
  background-color: white;
  border-color: var(--color-5);
  transition: 0.3s
}

input[type="range"] {
  width:100%;
  padding: 0;
  margin: 0;
  appearance: none;
  height: 4px; 
  background-color: var(--color-3); 
  border: none;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--color-5);
  border: 2px solid var(--color-5);
  border-radius: 50%;
  cursor: pointer;
}

output[for="timeRange"] {
  font-size: 16px;
  color: black;
  margin-left: 10px;
}

#timeRangeOutput{
  width: 100%;
}


/* ORG SEARCH PAGE */



#OrgSearchPageDiv {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#MapView {
  width: 100%;
  position: relative;
}

.map-container {
  position: relative;
  height: 100vh;
  width: 100%;
  transition: transform 0.5s ease;
  transform: translateX(0);
  width: 100%;
}

.slide-right {
  transform: translateX(20%);
  width: 83.3%;
}

.change-view-button {
  position: absolute;
  right: 47%;
  bottom: 20px;
  height: 40px;
  width: fit-content;
  border-radius: 25px;
  background-color: white;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-size: large;
  border: 2 var(--color-3);
  justify-self: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
  transition: all .7s ease;
}

.change-view-button:hover {
  background-color: black;
  transition: 0.3s;
  color: white;
}

.searchBarContainer {
  font-weight: bold;
  position: absolute;
  top: 70px;
  right: 27%;
  z-index: 2;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

.search-bar-submit {
  height: 40px !important;
}
.slide-right-search {
  transform: translateX(20%);
  transition: all .5s ease;
}

.list {
  transition: transform 0.5s ease;
  transform: translateX(0);
  position: absolute;
  top: 60px;
  left: 0;
  width: 25%;
  background: white;
  transition: left 0.3s ease;
  text-align: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.list-container {
  transition: left 0.3s ease;
}

.room-list {
  height: 93.5vh;
  width: 105%;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: left 0.3s ease;
  padding: 10px;
}

.room-item {
  margin: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.room-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

/* SEARCH PAGE MODAL */
.roomDetailsModal{
  min-width: min-content;
  max-height: 90%;
  overflow-y: scroll;
  background-color: transparent;
}

.roomDescription {
  margin: 10px 0;
  padding: 5px;
  display: flex;
  min-width: max-content;
  flex-direction: row;
}

.roomDescriptionLeft {
  margin-right: 30px;
}

.location-container {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

.ammenities-container {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

.capacity-space {
  display: flex;
  direction: row;
}

.row-space {
  display: flex;
  direction: row;
  justify-content: space-evenly;
}

.search-page-modal-img {
  border: 2px solid white;
  border-radius: 10px;
  height: 250px;
  border-radius: 10px;
}

.icon-modal-img {
  width: 50px;
  height: 30px;
}

.building-name {
  font-weight: bold;
}
.location {
  color: #69B7FF;
}
.ammenities {
  color: #61ff7e;
}
.select-date {
  color: #FFAF51;
}
.available-times {
  color: #D96BFF;
  margin-bottom: 10px;
}

.dropdown-basic-button{
  text-align: start;
  background-color: white;
}

.availableTimesSection {
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 10px;
  min-width: min-content;
  overflow-x: wrap;
}

.availableTimeDayButton{
  background-color: #eaeaea !important; 
  border: #eaeaea !important;
  color: black !important;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px !important;
}

.availableTimeDayButton:hover{
  background-color: #e1e1e1 !important;
}

.availableTimeDayButton:focus{
  background-color: #61ff7e !important;
}



/* ORD RESERVATIONS PAGE */


#OrgReservationsPageDiv {
  background-color: white;
  padding-block-end: 100hv;
  padding-block-start: 2%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#CalendarDiv {
  height: 80vh;
  width: 95%;
  padding-top: 2%;
  margin: 0 auto;
}
/* LARGE CALENDAR */

.rbc-calendar {
  min-height: 580px;
}

/* DELETE RESERVATION */

#cancel-modal-container h1 {
  font-family: 'Gabarito', sans-serif;
  font-size: 24px;
  text-align: center;
}

#cancel-modal-buttons {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cancel-modal-buttons button {
  border-radius: 25px;
  padding: 5px 15px;
}

#cancel-back-button {
  background-color: transparent;
  transition: 0.3s;
}

#cancel-back-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#cancel-confirm-button {
  border: 2px solid red;
  background-color: red;
  color: white;
  transition: 0.3s;
}

#cancel-confirm-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* RESERVATION PAGE POPUP / EDIT RESERVATION */

#OrgEditReservationsPageDiv h1{
  margin-top: 1%;
}

#reservation-popup-content {
  font-family: 'Gabarito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

#reservation-popup-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#reservation-popup-button-container button {
  border-radius: 25px;
  padding: 7px 18px;
}

#EditReservationButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#EditReservationButtonDiv button {
  margin: 0 10px;
  border-radius: 5px;
  padding: 7px 15px;
  margin-bottom: 3%;
}

#edit-reservation-cancel-button {
  background-color: transparent;
  border: 2px solid var(--color-4);
  font-weight: bold;
  color: var(--color-4);
}

#edit-reservation-confirm-button {
  background-color: var(--color-4);
  border: 2px solid var(--color-4);
  color: white;
  font-weight: bold;
}

#popup-edit-button {
  border: 2px solid gold;
  background-color: transparent;
  transition: 0.2s;
  margin-right: 3%;
}

#popup-edit-button:hover {
  border: 2px solid gold;
  background-color: gold;
  color: white;
}

#popup-cancel-button {
  border: 2px solid rgb(255, 61, 61);
  background-color: rgb(255, 61, 61);
  color: white;
  transition: 0.3s;
}

#popup-cancel-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* ORG SETTINGS PAGE */
#OrgSettingsPageDiv {
  max-height: 100vh;
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

/* ORG COMPLETE PROFILE PAGE */

#OrgProfilePageDiv {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* UNIVERSITY COMPLETE PROFILE PAGE */

#UniProfilePageDiv {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#UniProfilePageDiv h1 {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#UniProfileComponentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* UNIVERSITY COMPLETE PROFILE COMPONENT */

#CompleteProfileContainer {
  border: 1px solid gray;
  border-radius: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#CompleteProfileContainer input {
  font-family: 'Gabarito', sans-serif;
  margin-bottom: -1%;
  padding: 5px 30%;
  text-align: center;
}

#CompleteProfileContainer input::placeholder {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

#universityName {
  margin-top: 2%;
}

#complete-reservation-discretion-text {
  font-family: 'Gabarito', sans-serif;
  width: 80%;
  margin-bottom: 2%;
}

#CompleteProfileButtonDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  font-family: 'Gabarito', sans-serif;
}

#complete-reservation-cancel-button {
  margin-right: 10px;
  background-color: transparent;
  border-radius: 25px;
  padding: 5px 20px;
}

#complete-reservation-create-button {
  background-color: transparent;
  border-radius: 25px;
  padding: 5px 20px;
}

#complete-reservation-checkbox-message {
  font-family: 'Gabarito', sans-serif;
  margin-bottom: 2%;
}

/* UNIVERSITY SETTINGS PAGE */
#UniSettingsPageDiv {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

/* UNIVERSITY VERIFICATION PAGE */

#UniVerificationsPageDiv {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#verification-page-header {
  font-family: 'Gabarito', sans-serif;
  margin-top: 4%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#verification-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* UNIVERSITY VERIFICATION COMPONENT */

#verification-container {
  font-family: 'Gabarito', sans-serif;
  border: 1px solid gray;
  border-radius: 20px;
  width: 33%;
  margin-bottom: 1%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#verification-container h1 {
  font-size: 32px;
  margin-left: 2%;
  margin-top: 1%;
}

#verification-container h2 {
  font-size: 24px;
  margin-left: 2.2%;
}

#verification-container span {
  margin-left: 2.5%;
  text-decoration: underline;
  font-weight: bold;
}

#verification-container span:hover {
  cursor: pointer;
}

#verification-button-div {
  margin: 1%;
}

#verification-accept-button {
  border-radius: 20px;
  padding: 4px 20px;
  margin-right: 1%;
  border: 2px solid green;
  background-color: transparent;
  transition: 0.2s;
}

#verification-accept-button:hover {
  background-color: green;
  color: white;
}

#verification-deny-button {
  border-radius: 20px;
  color: black;
  background-color: transparent;
  border: 2px solid red;
  padding: 4px 27px;
  transition: 0.2s;
}

#verification-deny-button:hover {
  background-color: red;
  color: white;
}

#verification-modal-container h1{
  font-size: 30px;
}

#verification-modal-container h2{
  font-size: 24px;
}

/* COMPLETE RESERVATION FORM */

#CompleteReservationContainer {
  border: 1px solid gray;
  border-radius: 15px;
  min-width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#CreateReservationButtonContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#CreateReservationBackButton {
  margin-right: 5%;
  background-color: transparent;
  color: #007bff;
  border: solid 2px;
  transition: 0.3s;
}

#CreateReservationBackButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#OrgCompleteReservationsPageDiv {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.complete-reservation-input-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.complete-reservation-input-label label {
  text-align: left;
  flex: 1;
  margin-right: 10px;
}

.complete-reservation-input-label input {
  text-align: right;
  flex: 2;
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

#complete-reservation-discretion-text {
  width: 70%;
  margin-bottom: 10px;
  padding: 15px;
}

#complete-reservation-checkbox-message {
  display: flex;
  align-items: center;
}

#complete-reservation-checkbox {
  margin-right: 5px;
}

#CompleteProfileButtonDiv {
  display: flex;
  justify-content: center;
}

#complete-reservation-cancel-button,
#complete-reservation-create-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Add hover and active styles for buttons if desired */
#complete-reservation-cancel-button:hover,
#complete-reservation-create-button:hover {
  background-color: #0056b3; /* Adjust as desired */
}

#complete-reservation-cancel-button:active,
#complete-reservation-create-button:active {
  background-color: #004292; /* Adjust as desired */
}

#OrgEditReservationsPageDiv {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}