.navbar {
    background-color: white;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #D5D0CD50;
}

img {
    width: 12%;
    height: 12%;
    margin-left: -150px;   
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.sign-in {
    margin-right: 0;
}

.signin-button {
    padding: 6px 17px;
    color: #61ff7e;
    border: transparent;
    border-radius: 50px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.signin-button:hover {
    background-color: #D5D0CD50;
}

.sign-up {
    margin-left: 12px;
    margin-right: -1520px
}

.signup-button {
    padding: 5px 13px;
    background-color: transparent;
    border: 1px solid #2ecc71;
    border-radius: 50px;
    color: #2ecc71;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.signup-button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}