.navbar {
    background-color: #1c1018;
    padding: 15px 20px;
    color:#61ff7e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.brand {
    font-size: 28px;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.sign-in {
    margin-left: 15px;
}

.nav-link {
    text-decoration: none;
    color: #61ff7e;
    font: 16px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: white;
}

.sign-up {
    margin-left: 15px;
}

.nav-button {
    padding: 5px 20px;
    background-color: transparent;
    border: 5px #2ecc71;
    border-radius: 30px;
    color: #2ecc71;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-button:hover {
    background-color: white;
    color: #2ecc71;
}