/* WEB APP COLOR SCHEMA */
:root {
  --primary-green-color: #61ff7e;
  --white-color: #F0E9D390;
  --dark-gray-border-color: #8e8a8850;
  --sage-color: #526760;
  --dark-sage: #374B4A;
  --charcoal: #1C1018;
}

/* MAIN PAGES COMPONENTS */
#page-container{
  background-color: #ffffff;
  max-height: 100%;
}

/* MAIN TEXT STYLING */
h1 {
  font-size: 200px;
  font-weight: bold;
  font-family: 'Gabarito', sans-serif;
}
body {
  margin: 0;
  font-family: 'Gabarito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2A1316;
}
#main-title {
  font-size: 72px;
  font-weight: bold;
  font-family: 'Gabarito', sans-serif;
}

#sub-title {
  font-size: 40px;
  font-family: 'Gabarito', sans-serif;
  margin: 12px;
}

/* SIGN IN & SIGN UP */
#user-authentication-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--white-color);
  border: none;
  padding-block-end: 21.5%;
}

#user-authentication-container-elements{
  margin: auto;
  margin-top: 20%;
  padding: 5%;
  text-align: center;
  width: fit-content;
  font-size: larger;
  font-family: 'Gabarito', sans-serif;
}

#user-authetication-title{
  font-size: 36px;
  font-weight: bold;
  font-family: 'Gabarito', sans-serif;
}

.user-authentication-text-form{
  font-family: 'Gabarito', sans-serif;
  font-size: 16px;
  border: 2px solid var(--dark-gray-border-color);
  background-color: #ffffff;
  color: #0F1A12;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.user-authentication-buttons{
  background-color: var(--sage-color);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 88px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

#login-side-image {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-image-container {
  top: 0;
  right: 0;
  width: 951px;
  height: 950px;
  overflow: hidden;
  position:absolute;
}

/* NAVIGATION BAR STYLING */
.navbar-container {
  position: fixed;
  background-color: whitesmoke;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-gray-border-color);
  z-index: 100;
}

.navbar-left-align {
  margin-left: 5%;
  flex: start;
}

.navbar-right-align {
  margin-right: 5%;
  flex: end;
}

.navbar-logo {
  width: 35%;
  height: 15%;
}

.navbar-icon {
  max-width: 100px;
  max-height: 40px;
  margin: 10px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-button{
  justify-content: space-between;
}

.navbar-sign-in-button {
  max-height: 40px;
  max-width: 100px;
  font-weight: bold;
  font-family: 'Gabarito', sans-serif;
  padding: 6px 17px;
  color: var(--sage-color);
  border: 2px solid var(--sage-color);
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}

.navbar-sign-in-button:hover {
  background-color: var(--dark-gray-border-color);
}

.navbar-sign-up-button {
  max-height: 40px;
  max-width: 100px;
  font-family: 'Gabarito', sans-serif;
  font-weight: bold;
  color: white;
  padding: 5px 13px;
  background-color: var(--sage-color);
  border: 2px solid var(--sage-color);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar-sign-up-button:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}


/* LANDING PAGE STYLING */

#LandingPageDiv {
  background-color: var(--white-color);
  padding-block-end: 50%;
  padding-block-start: 5%;
}

#landing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 175px;
}

#landing-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
}

#landing-button-container button {
  margin: 0 15px;
  border-radius: 5px;
  padding: 16px 43px;
}

#landing-reserve-button {
  color: white;
  font-family: 'Gabarito', sans-serif;
  font-size: 18px;
  border: 2px solid var(--sage-color);
  background-color: var(--sage-color);
  transition: 0.3s;
}

#landing-reserve-button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#landing-university-button {
  color: var(--sage-color);
  font-family: 'Gabarito', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid var(--sage-color);
  background-color: transparent;
  transition: 0.3s;
}

#landing-university-button:hover {
  background-color: var(--sage-color);
  color: white;
}

/* ORG HOME PAGE */
#OrgHomePageDiv {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#org-home-page-div {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#org-home-container {
  margin-top: 100px;
  width: 600px;
}

.org-home-box {
  border: 3px solid var(--dark-gray-border-color);
  border-radius: 15px;
  height: fit-content;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ENTRY FORM */
.entry-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.entry-form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

entry-form-row-label {
  flex: 1;
  text-align: left;
}

.entry-form-input {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items:first baseline;
}

input {
  color: var(--charcoal);
  font-family: 'Gabarito', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid var(--sage-color);
  border-radius: 20px;
  background-color: transparent;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

input[type="range"] {
  width: 100%;
  padding: 0;
  margin: 0;
  appearance: none;
  height: 4px; 
  background-color: var(--dark-gray-border-color); 
  border: none;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--sage-color);
  border: 2px solid var(--sage-color);
  border-radius: 50%;
  cursor: pointer;
}

/* Style the output element */
output[for="timeRange"] {
  font-size: 16px;
  color: #333;
  margin-left: 10px;
}
